html,
body,
.root,
.app {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
}

body {
  text-align: center;
  background-color: #444;
  color: black;
}

.simulator {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  overflow: hidden;
  flex-grow: 1;
}

.tool-bar {
  float: right;
  background-color: #222;
  min-height: 100vh;
  max-width: 30vw;
  min-width: 15em;
}

.grid {
  width: 1.5em;
  height: 1.5em;
  border-radius: 0;
  border: 1px solid white;
  color: white;
  display: block;
}

td {
  padding: 0;
  margin: 0;
}

.tool-bar > div {
  margin: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  color: white;
  display: inline-block;
  margin: 0;
}

.horizontal-spread,
.horizontal-flexible,
.spread {
  display: flex;
  justify-content: space-between;
}

.option-button {
  padding: 0.5em 1em;
  margin: 0em;
  cursor: pointer;
}

.play-button {
  border-radius: 2em;
}

.toggle-button {
  background-color: #0f0;
  color: #000;
  transition: background-color 0.3s ease;
}

.toggle-button.active {
  background-color: #f00;
  color: #fff;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.options > * {
  margin-bottom: 0.5em;
}

.color-pallet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-selected {
  border: 2px solid black;
}

@media (aspect-ratio < 1) {
  .simulator {
    flex-direction: column;
    justify-content: space-between;
  }

  .tool-bar {
    float: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 30vh;
    min-height: 0;
    min-width: 100vw;
  }

  .spread {
    flex-direction: column;
  }

  .horizontal-flexible {
    justify-content: unset;
  }

  .color-pallet {
    flex-direction: column;
  }
}
